@charset "ISO-8859-1";
/*Navbar section*/
@import "scrollbar.css";
body{
  	display:grid;
  	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	margin:0;
	padding:0;
}
*{
	font-family: poppins, sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
}
p{
	line-height: 2;
	font-size: 18px;
}
.logo{
	width:250px;
}
.navbar{
	box-shadow:  0px 10px 39px -14px rgba(0,0,0,0.25);
}
.navbar-brand{
	width:200px;
}
.nav-link{
	font-weight: 400 !important;
}
.white{
	background-color:#fff !important;
}
.btn{
	padding:8px 25px !important;
	border-radius: 50px !important;
}

/*Footer section*/

.footer-sec{
	
	color:white;
	background-color:#000;
	overflow:hidden;
	position: inherit;
	
}
.footer-nav{
	margin-top: 1rem;
}
.footer-nav li a:hover{
	color:#F2CA3D;
}
.f-navbar{
	list-style-type: none;
	display:inline;
}
.f-navbar li{
	float:left;
	padding:0px 10px;
}
.f-image{
	width:300px;
}



