@charset "ISO-8859-1";
/*Navbar section*/
body{
	min-height:100vh;
	margin:0;
	padding:0;
}
*{
	font-family: poppins, sans-serif;
	margin:0;
	padding:0;
	box-sizing: border-box;
}

p{
	line-height: 2;
	font-size: 18px;
}
.logo{
	width:250px;
}
.navbar-brand{
	width:200px;
}
.nav-link{
	font-weight: 400 !important;
}
nav{
	border-bottom: 1px solid black;
}
.white{
	background-color:#fff !important;
}
.btn{
	padding:8px 25px !important;
	border-radius: 50px !important;
}

/*Footer section*/

.footer-sec{
	color:white;
	background-color:#000;
	overflow:hidden;
	width:100%;
}
.footer-nav{
	margin-top: 1rem;
}
.footer-nav li a:hover{
	color:#F2CA3D;
}
.f-navbar{
	list-style-type: none;
	display:inline;
}
.f-navbar li{
	float:left;
	padding:0px 10px;
}
.f-image{
	width:300px;
}