*{
    box-sizing: border-box;
}
hr{
    height:2px !important;
}
li{
    font-size: smaller;
}
.col-5 hr{
    margin: 0.2rem 0 1rem ;
}
.user-img-top{
    margin: 1.2rem;
}
p {
    line-height: 0.6;
    font-size: 16px;
}
.img_prof_name_row{
    margin-bottom: 1rem;
}
.cd{
    margin: 1rem;
    border-radius: 1rem;
}
.col-5{
    padding-top: 0.9rem;
    border-radius: 0rem 1rem 1rem 0;
}
.col-7{
    padding: 1.7rem;
}
.done_inp_div{
 margin-bottom: 1.5rem;
}
.done_inp{
    width: 108%;
    height: 103%;    
    padding: 0rem 0.6rem;
}
.done_btn{
    background-color: #63B920;
    padding: 0.4rem 0.8em;
    border: none;
}
.reject_btn{
    background-color: #F04848;
    border: none;
}
.reject_btn+p{
    line-height: 1rem !important;
    margin-bottom: 0rem;
}
.reject_btn+p+p{
    line-height: 1rem;
    color: #F04848;
}
.wrapper{
    margin-bottom:0rem ;
}
.wrapper input {
	display: none;
}
.wrapper label {
	width: 2.2rem;
}
.wrapper label:before {
	content: '★';
	position: relative;
	display: block;
	font-size: 2rem;
	color: black;
}
.wrapper label:after {
	content: '★';
	position: absolute;
	display: block;
	font-size: 2rem;
	color: yellow;
	top: 0;
	opacity: 0;
	transition: .6s;
}
.wrapper label:hover:after, .wrapper label:hover~label:after, .wrapper input:checked~label:after {
	opacity: 1;
}