.middle-sec{
	margin-top: 75px;
}
.outer-border{
	width: 30rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

a{
	text-decoration: none !important;
}
nav{
	border-bottom: 1px solid black;
}